<%= form_for([:user, @message]) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sender %><br>
    <%= f.text_field :sender %>
  </div>
  <div class="field">
    <%= f.label :cipher %><br>
    <%= f.text_area :cipher %>
  </div>
  <div class="field">
    <%= f.label :iv %><br>
    <%= f.number_field :iv %>
  </div>
  <div class="field">
    <%= f.label :key_recipient_enc %><br>
    <%= f.text_field :key_recipient_enc %>
  </div>
  <div class="field">
    <%= f.label :sig_recipient %><br>
    <%= f.text_area :sig_recipient %>
  </div>
  <div class="field">
    <%= f.label :timestamp %><br>
    <%= f.datetime_select :timestamp %>
  </div>
  <div class="field">
    <%= f.label :recipient %><br>
    <%= f.text_field :recipient %>
  </div>
  <div class="field">
    <%= f.label :sig_service %><br>
    <%= f.text_area :sig_service %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
